.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: #800000;
  text-decoration: none;
}
.navigation-links-text {
  color: #800000;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text1 {
  color: #800000;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  color: #880000;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}























@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.health-form-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.health-form-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: rgba(136, 0, 0, 0);
}
.health-form-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.health-form-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.health-form-navlink {
  display: contents;
}
.health-form-image {
  width: 278px;
  height: 49px;
  object-fit: cover;
  text-decoration: none;
}
.health-form-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.health-form-login {
  color: #ffd700;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  background-color: #880000;
}
.health-form-register {
  color: #ffd700;
  border-width: 0px;
  background-color: #880000;
}
.health-form-burger-menu {
  display: none;
}
.health-form-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.health-form-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.health-form-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.health-form-container03 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.health-form-image1 {
  height: 2rem;
}
.health-form-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.health-form-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.health-form-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.health-form-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.health-form-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.health-form-container04 {
  width: 100%;
  height: 14px;
  display: flex;
  align-items: flex-start;
  background-color: #800000;
}
.health-form-container05 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: #FFD700;
}
.health-form-text01 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.health-form-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-text02 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-textinput {
  width: var(--dl-size-size-xxlarge);
}
.health-form-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-text03 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-container10 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-textinput1 {
  width: var(--dl-size-size-xxlarge);
  align-self: flex-start;
}
.health-form-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-text04 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-textinput2 {
  width: var(--dl-size-size-xxlarge);
}
.health-form-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-text05 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-textinput3 {
  width: 300px;
  margin-right: var(--dl-space-space-threeunits);
}
.health-form-text06 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-textinput4 {
  width: 300px;
}
.health-form-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-text08 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-container16 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-container17 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-container18 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-text12 {
  margin: var(--dl-space-space-unit);
}
.health-form-checkbox {
  margin: var(--dl-space-space-unit);
}
.health-form-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-text13 {
  margin: var(--dl-space-space-unit);
}
.health-form-checkbox1 {
  margin: var(--dl-space-space-unit);
}
.health-form-textinput5 {
  width: 300px;
}
.health-form-text14 {
  margin-top: var(--dl-space-space-twounits);
}
.health-form-container21 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-container22 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-text16 {
  margin: var(--dl-space-space-unit);
}
.health-form-checkbox2 {
  margin: var(--dl-space-space-unit);
}
.health-form-container23 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.health-form-text17 {
  margin: var(--dl-space-space-halfunit);
}
.health-form-checkbox3 {
  margin: var(--dl-space-space-unit);
}
.health-form-text18 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-container24 {
  display: flex;
  position: relative;
}
.health-form-select {
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
}
.health-form-button {
  align-self: flex-start;
  margin-top: var(--dl-space-space-fiveunits);
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.health-form-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.health-form-container25 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.health-form-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.health-form-image2 {
  width: 207px;
  height: 45px;
  object-fit: cover;
}
.health-form-text22 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.health-form-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.health-form-container26 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.health-form-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.health-form-text26 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.health-form-text27 {
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-text28 {
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-text29 {
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.health-form-text31 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.health-form-text32 {
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-text33 {
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-text34 {
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-container27 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.health-form-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.health-form-text36 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.health-form-text37 {
  margin-bottom: var(--dl-space-space-unit);
}
.health-form-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.health-form-text39 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.health-form-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.health-form-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.health-form-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.health-form-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.health-form-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.health-form-text40 {
  align-self: center;
}
.health-form-text42 {
  text-align: left;
}
@media(max-width: 991px) {
  .health-form-login {
    color: #ffd700;
  }
  .health-form-register {
    border-width: 0px;
  }
  .health-form-footer {
    flex-direction: column;
  }
  .health-form-container26 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .health-form-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .health-form-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .health-form-btn-group {
    display: none;
  }
  .health-form-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .health-form-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .health-form-container25 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .health-form-logo {
    align-items: center;
  }
  .health-form-text22 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .health-form-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .health-form-container26 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .health-form-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .health-form-header {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .health-form-mobile-menu {
    padding: 16px;
  }
  .health-form-container05 {
    height: 1151px;
  }
  .health-form-footer {
    padding: var(--dl-space-space-unit);
  }
  .health-form-container25 {
    align-items: center;
    flex-direction: column;
  }
  .health-form-text22 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .health-form-links-container {
    align-items: center;
    flex-direction: column;
  }
  .health-form-container26 {
    margin-right: 0px;
  }
  .health-form-container27 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .health-form-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .health-form-text40 {
    text-align: center;
  }
}
